@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,600;1,700&display=swap');
html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4{
    color: #1b055f;
}
p,a,li{
    color: #9893D8;
}
h1,h3{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
.leading{
    font-size: 1.1em;
}

/* variables */
:root{
    --primary: #FFC636;
    --secondary: #FFFFFF;
}

/* reset */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

/* base styles */
body{
    background: var(--secondary);
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}

.promo-title{
    font-weight: 700;
}

.button{
    background: none;
    border: none;
    background: var(--primary);
    color: var(--secondary);
    padding: 11px 24px;
    border-radius: 20px;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.button:hover{
    color: #222;
}

input, textarea{
    background: rgba(255,255,255,0.05,);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid #9893D8;
}

/* mobile styles */
.grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
}
.site-nav{
    margin: 0 20px;
}
.site-nav ul{
    display: none;
}
.site-nav h1{
    grid-column: 1/5;
    grid-row: 1;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary);
}
#welcome{
    padding: 0 20px 20px 20px;
}
.welcome-text{
    grid-column: 1/7;
}
.welcome-img{
    grid-column: 7/10;
}
.welcome-img img{
    width: 200%;
}
.welcome-text a{
    margin: 20px 0;
}
#services{
    padding: 30px 20px;
}
#services h3{
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
}
.projects a {
    grid-column: 1/10;
    margin: 20px 0;
    text-align: center;
}
.projects a h4, .projects a p{
    max-width: 80%;
    align-self: center;
    margin: 10px 10%;
}
.projects a img{
    max-width: 50%;
    height: 160px;
}
.projects h4, .projects p{
    text-align: center;
}
#about-us{
    padding: 30px 20px;
}
#about-us h3{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}
.about p{
    margin-bottom: 30px;
    text-align: center;
}
.about *{
    grid-column: 1/10;
}
.about img{
    width: 100%;
    grid-column: 2/9;
}
#testimonials{
    padding: 30px 20px;
    background: #f8f9fa;
}
#testimonials h3{
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}
#testimonials p{
    margin-bottom: 30px;
    text-align: center;
}
.testimonials a{
    grid-column: 1/10;
    text-align: center;
}
.testimonials p{
    grid-column: 1/10;
    margin: 20px 0;
}
.testimonials a img{
    border-radius: 100%;
    height: 100px;
    width: 100px;
}
.gy-name{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}
.gy-home-tests-slide-feedback{
    padding: 0 50px;
    min-height: 200px;
}
.gy-home-tests-slide-feedback{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    border-radius:15px;
    box-shadow: 0 0 100px -44px rgba(0, 0, 0, 0.75);
}
#contact{
    padding: 30px 20px;
}
#contact h3, #contact p{
    text-align: center;
    margin-bottom: 0;
}
#contact h3{
    font-weight: 600;
}
#contact form{
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}
#contact input, #contact textarea{
    width: 90%;
    margin: 10px 0;
}
#contact .button{
    margin-top: 10px;
}
footer{
    padding: 20px;
}
footer .copyright{
    text-align: center;
    font-size: 0.8em;
}

.gototop{
    width: 50px;
    height: 45px;
    background: #FFC636;
    position: fixed;
    bottom: 40px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

/* small tablet styles */
@media screen and (min-width: 620px){
    .welcome-text{
        grid-column: 1/6;
    }
    .welcome-img{
        grid-column: 6/10;
    }
    .welcome-img img{
        width: 100%;
    }
    .projects{
        margin-top: 40px;
    }
    .projects a:nth-child(1){
        grid-column: 1/5;
    }
    .projects a:nth-child(2){
        grid-column: 6/10;
    }
    .projects a:nth-child(3){
        grid-column: 3/8;
    }
    .projects a *{
        max-width: 60%;
        margin: 10px 20%;
    }
    .about p{
        grid-column: 1/6;
        align-self: center;
    }
    .about img{
        grid-column: 6/10;
    }
    .testimonials a:nth-child(1){
        grid-column: 1/4;
    }
    .testimonials a:nth-child(2){
        grid-column: 4/7;
    }
    .testimonials a:nth-child(3){
        grid-column: 7/10;
    }
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
    body{
        font-size: 18px;
    }
    .grid{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
    }
    .leading{
        margin: 20px 0;
    }
    .site-nav{
        padding: 0 20px;
    }
    .site-nav h1{
        grid-column: 1/3;
    }
    .site-nav ul{
        display: flex;
        grid-column: 6/10;
        justify-content: flex-end;
        align-self: center;
    }
    .site-nav li{
        margin-left: 20px;
    }
    .welcome-text{
        align-self: center;
    }
    #welcome{
        padding-bottom: 40px;
    }
    .projects a:nth-child(1){
        grid-column: 1/4;
    }
    .projects a:nth-child(2){
        grid-column: 4/7;
    }
    .projects a:nth-child(3){
        grid-column: 7/10;
    }
    .projects a *{
        max-width: 80%;
        margin: 10px 10%;
    }
    .testimonials a:nth-child(1){
        grid-column: 1/4;
    }
    .testimonials a:nth-child(2){
        grid-column: 4/7;
    }
    .testimonials a:nth-child(3){
        grid-column: 7/10;
    }
    footer{
        padding: 40px 20px;
    }
}

/* desktop styles */
@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
    }
    #welcome, #contact{
        padding: 60px 0;
    }
    footer{
        padding: 60px 0;
    }
    .site-nav{
        padding: 0;
    }
}